/*
 * rini <https://rinici.de>
 *
 * Copyright (c) 2023 rini
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    src: local("Iosevka"), url("/fonts/iosevka.regular.woff2") format("woff2"),
        url("/fonts/iosevka.regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Iosevka";
    font-weight: bold;
    src: local("Iosevka Bold"), url("/fonts/iosevka.bold.woff2") format("woff2"),
        url("/fonts/iosevka.bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    font-style: italic;
    src: local("Iosevka Italic"),
        url("/fonts/iosevka.italic.woff2") format("woff2"),
        url("/fonts/iosevka.italic.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Iosevka";
    font-weight: bold;
    font-style: italic;
    src: local("Iosevka Bold Italic"),
        url("/fonts/iosevka.bolditalic.woff2") format("woff2"),
        url("/fonts/iosevka.bolditalic.ttf") format("truetype");
    font-display: swap;
}

:root {
    --accent-purple: #d895ee;
    --accent-pink: #ee95d2;
    --bg: #151515;
    --fg: #d8d0d5;
    --red: #ee9598;
    --orange: #e8b197;
    --yellow: #e8d097;
    --green: #9be099;
    --cyan: #97d0e8;
    --blue: #979ae8;
    --purple: #ca97e8;
}

.dim {
    --accent-purple: #b577ca;
    --accent-pink: #ca77b0;
    --bg: #101010;
    --fg: #b8b1b5;
    --red: #c76f72;
    --orange: #c18b72;
    --yellow: #c1a972;
    --green: #77b975;
    --cyan: #72a9c1;
    --blue: #7275c1;
    --purple: #a372c1;
}

:root {
    font-family: "Iosevka", monospace;
    font-size: 16px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMAQMAAAB7mV5tAAAAAXNSR0IArs4c6QAAAAZQTFRFq5uwwq/IQxOo8wAAABpJREFUCB1j+cDCwHIBiGuA+AsQzwFiBxYGAD5MBD1dofXRAAAAAElFTkSuQmCC");
    image-rendering: pixelated;
}

::selection {
    background: var(--accent-pink);
    color: #151515;
}

body {
    margin: 0;
}

section,
footer {
    color: var(--fg);
    background: var(--bg);
    max-width: 120ch;
    padding: 2ch 1ch;
    margin: 4ch auto;
    box-shadow: 1ch 2ch #0005;
}

a {
    color: var(--accent-purple);
    text-decoration: dotted;
}

h1,
h2,
h3 {
    font-size: 1em;
    margin: 0 0 2ch;
    padding: 2ch 1ch;
    border-left: 1ch solid var(--accent-pink);
}

h2,
h3 {
    border-color: var(--fg);
}

h3 {
    padding: 0 1ch;
}

p {
    padding-left: 2ch;
}

ul {
    padding-left: 6ch;
}

li::marker {
    content: "--- ";
}
